body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  position: relative;
  width: 1200px;
  height: 773px;
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.intro img {
  display: block;
  position: absolute;
  top: 130px;
  left: 370px;

}

.description {
text-align: center;
}

.description b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.description p {
  line-height: 26px;
}

.feature-1-description,
.feature-2-description {
text-align: center;
background-color:#81b3d2;
}

.feature-1-description h3,
.feature-2-description h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  color: #ffffff;
}

.feature-1-description p,
.feature-2-description p {
  line-height: 21px;
  color: #ffffff;
}

.detail {
text-align: center;
}

.detail h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.detail p{
  line-height: 21px;
}

.feature-3-4-5 {
background-color: #eeeeee;
}

.other-features {
text-align: center;
}

.other-features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.other-features p {
  line-height: 21px;
}

.hotel-search {
text-align: center;
}

.hotel-search .question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotel-search a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.hotel-search a:hover {
background-color: #604e43;
}

.hotel-search a:active {
color: rgba(255, 255, 255, 0.3);
background-color: #503e33;
}

.modal-search {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.search input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color:#f2f2f2;
  border:none;
}

.search .minus,
.search .plus {
  color:#818181;
  background-color:#f2f2f2;
  border:none;
}

.search button[type="submit"] {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.search button[type="submit"]:hover {
background-color:#669ec0;
}

.search button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#5496bd;
}

.map {
  width: 1200px;
  height: 593px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.map iframe {
  width:1200px;
  height:593px;
  border:0;
}
/*iframe сейчас съезжает вниз из-за заголовка "Карта города"*/
.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  list-style: none;
  text-align:center;
}

.footer-social a {
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  background-color: #5496bd;
}

.social-link svg {
  fill:#ffffff;
}

.social-link svg:active {
  fill:rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  text-align: center;
}

.footer-copyright span {
  line-height: 26px;
  color: #000000;
}

.copyright-link svg {
  fill: #231f20;
}

.copyright-link svg:hover {
  fill: #81b3d2;
}

.copyright-link svg:active {
  fill: #bdbbbc;
}

.site-navigation-current a{
  color: #766357;
}

.filter {
  color: #ffffff;
  background-image:url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter p {
  line-height: 21px;
  color: #ffffff;
}
.filter input[type="text"] {
  font: inherit;
  line-height: 21px;
  text-align: center;
  /*я так поняла, что наследование свойств текста произошло от body*/
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
}
/*ползунок пока скопиривала и примерно стилизовала*/
.skroll {
  width: 317px;
  background: #7a797b;
  height: 2px;
  margin-top: 20px;
  position: relative;
}

.skroll-left,
.skroll-right {
  position: absolute;
  display: block;
  width: 20px;
  background: #ffffff;
  height: 20px;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
  border: none;
}

.skroll-left {
  left: 0px;
}

.skroll-right {
  right: 55px;
}

.skroll-field {
  width: 262px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0px;
}

.filter button[type="submit"] {
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.sort span {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.sort h2 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
}

.sort ul {
  list-style: none;
}

.sort a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  border-bottom: 1px dotted #81b3d2;
}

.sort a:hover {
  color:#81b3d2;
}

.sort a:active {
  color: #000000;
  border-bottom: none;
}

.sort button  {
  background-color: transparent;
  border: none;

}

.ascending svg,
.descending svg {
  fill:#cacaca;
}

.ascending svg:hover,
.descending svg:hover {
  fill: #231f20;
}

.ascending svg:active,
.descending svg:active {
  fill: #81b3d2;
  border:none;
}
/*стилизация кнопки при наведении и нажатии не оторажается в firefox, при нажатии появляется голубая обводка*/

.catalog-list {
  list-style: none
}

.catalog-list .name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:#000000;
}

.catalog-list .name:hover {
  color:#81b3d2;
}

.catalog-list .name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item b {
  line-height: 21px;
  font-weight: 400;
}

.catalog-item-reserve a:first-child {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.catalog-item-reserve a:nth-child(2) {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.catalog-item-reserve a:first-child:hover {
  background-color: #669ec0;
}

.catalog-item-reserve a:nth-child(2):hover {
  background-color: #604e43;
}

.catalog-item-reserve a:first-child:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog-item-reserve a:nth-child(2):active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-item span {
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.stars {
  list-style: none;
}

.stars li {
  font-size:0;
  background-image: url("../img/star.svg");
  background-repeat:no-repeat;
}
