body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  /*для сетки*/
  background-image: url("../img/sedona-index-1200-for-flex.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*.intro {
  position: relative;
  width: 1200px;
  height: 773px;
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.intro img {
  display: block;
  position: absolute;
  top: 130px;
  left: 370px;

}*/

.description {
text-align: center;
}

.description b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.description p {
  line-height: 26px;
}

.feature-1-description,
.feature-2-description {
text-align: center;
background-color:#81b3d2;
}

.feature-1-description h3,
.feature-2-description h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  color: #ffffff;
}

.feature-1-description p,
.feature-2-description p {
  line-height: 21px;
  color: #ffffff;
}

.detail {
text-align: center;
}

.detail h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.detail p{
  line-height: 21px;
}

.feature-3-4-5 {
background-color: #eeeeee;
}

.other-features {
text-align: center;
}

.other-features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.other-features p {
  line-height: 21px;
}

.hotel-search {
text-align: center;
}

.hotel-search .question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotel-search a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.hotel-search a:hover {
background-color: #604e43;
}

.hotel-search a:active {
color: rgba(255, 255, 255, 0.3);
background-color: #503e33;
}

.modal-search {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.search input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color:#f2f2f2;
  border:none;
}

.search .minus,
.search .plus {
  color:#818181;
  background-color:#f2f2f2;
  border:none;
}

.search button[type="submit"] {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.search button[type="submit"]:hover {
background-color:#669ec0;
}

.search button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#5496bd;
}

.map {
  width: 1200px;
  height: 593px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.map iframe {
  width:1200px;
  height:593px;
  border:0;
}
/*iframe сейчас съезжает вниз из-за заголовка "Карта города"*/
.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  list-style: none;
  text-align:center;
}

.footer-social a {
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  background-color: #5496bd;
}

.social-link svg {
  fill:#ffffff;
}

.social-link svg:active {
  fill:rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  text-align: center;
}

.footer-copyright span {
  line-height: 26px;
  color: #000000;
}

.copyright-link svg {
  fill: #231f20;
}

.copyright-link svg:hover {
  fill: #81b3d2;
}

.copyright-link svg:active {
  fill: #bdbbbc;
}

.site-navigation-current a{
  color: #766357;
}

.filter {
  color: #ffffff;
  background-image:url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter p {
  line-height: 21px;
  color: #ffffff;
}
.filter input[type="text"] {
  font: inherit;
  line-height: 21px;
  text-align: center;
  /*я так поняла, что наследование свойств текста произошло от body*/
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
}
/*ползунок пока скопиривала и примерно стилизовала*/
.skroll {
  width: 317px;
  background: #7a797b;
  height: 2px;
  margin-top: 20px;
  position: relative;
}

.skroll-left,
.skroll-right {
  position: absolute;
  display: block;
  width: 20px;
  background: #ffffff;
  height: 20px;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
  border: none;
}

.skroll-left {
  left: 0px;
}

.skroll-right {
  right: 55px;
}

.skroll-field {
  width: 262px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0px;
}

.filter button[type="submit"] {
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.sort span {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.sort h2 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
}

.sort ul {
  list-style: none;
}

.sort a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  border-bottom: 1px dotted #81b3d2;
}

.sort a:hover {
  color:#81b3d2;
}

.sort a:active {
  color: #000000;
  border-bottom: none;
}

.sort button  {
  background-color: transparent;
  border: none;

}

.ascending svg,
.descending svg {
  fill:#cacaca;
}

.ascending svg:hover,
.descending svg:hover {
  fill: #231f20;
}

.ascending svg:active,
.descending svg:active {
  fill: #81b3d2;
  border:none;
}
/*стилизация кнопки при наведении и нажатии не оторажается в firefox, при нажатии появляется голубая обводка*/

.catalog-list {
  list-style: none
}

.catalog-list .name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:#000000;
}

.catalog-list .name:hover {
  color:#81b3d2;
}

.catalog-list .name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item b {
  line-height: 21px;
  font-weight: 400;
}

.catalog-item-reserve a:first-child {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.catalog-item-reserve a:nth-child(2) {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.catalog-item-reserve a:first-child:hover {
  background-color: #669ec0;
}

.catalog-item-reserve a:nth-child(2):hover {
  background-color: #604e43;
}

.catalog-item-reserve a:first-child:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog-item-reserve a:nth-child(2):active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-item span {
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.stars {
  list-style: none;
}

.stars li {
  font-size:0;
  background-image: url("../img/star.svg");
  background-repeat:no-repeat;
}




/*для сетки*/

.wrapper {
  width:1200px;
  margin: auto;
}

.header-container {
  position: relative;

}

.logo {
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
  z-index: 5
}

.section-container {
  padding: 0 6%;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
}

.site-navigation li {
  box-sizing: border-box;
  display: block;
  width: 20%;
  margin-top:14px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:16px;
}

.link-left {
  text-align: left;
}

.link-right {
  text-align: right;
}

.site-navigation li:nth-child(2) {
    padding-left: 30px;
    margin-right: auto;
}

.site-navigation li:nth-child(3) {
    padding-right: 34px;
}

.container {
  margin: 0 auto;
  padding: 0 0px; 
}



.intro {
  display: flex;
  height: 505px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  /*Для центровки текста:*/
  padding-bottom: 5px;
  box-sizing: border-box;
  /*background-color: #81b3d2;*/
  /*background-image: url("../img/background-photo.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  box-sizing:border-box;
  /*Временно для сетки */
  min-height: 216px;
}

.description b {
  margin-top: 60px;
  width:575px;
}

.description p {
  margin-top: 25px;
  width: 575px;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*Временно для сетки*/
  min-height: 1100px;
}

.feature-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  box-sizing: border-box;
  /*временно для сетки*/
  min-height: 256px;
  
}

.feature-1-description {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /*временно для сетки*/
  min-height: 256px;
  background-color:transparent;
}

.feature-1-description h3 {
  width: 240px;
  margin-top: 47px;
}

.feature-1-description p:first-of-type {
  width: 240px;
  margin-top: 2px;
  
 }


.feature-1-description p:nth-of-type(2) {
  width: 285px;
  margin-top: 7px ;
  
}


.feature-1-image {
  width: 800px;

  /*временно для сетки*/
  height: 256px;
}

.feature-1-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  /*временно для сетки*/
  min-height:330px;
  
}

.detail-1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*временно для сетки*/
  min-height: 330px;
}

.detail-1 h3 {
  width: 240px;
  margin-top: 160px;
}

.detail-1 p {
  width:255px;
  margin-top: 3px;
}


.detail-2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*временно для сетки*/
  min-height: 330px;
}

.detail-2 h3 {
  width: 240px;
  margin-top: 160px;
}

.detail-2 p {
  width: 290px;
  margin-top: 3px;
}


.detail-3 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*временно для сетки*/
  min-height: 330px;
}

.detail-3 h3 {
  width: 240px;
  margin-top: 160px;
}

.detail-3 p {
  width: 280px;
  margin-top: 3px;
}


.feature-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  /*временно для сетки*/
  min-height: 256px;

}

.feature-2-image {
  width: 800px;
  /*временно для сетки*/
  height: 256px;
}

.feature-2-description {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /*временно для сетки*/
  min-height:  256px;
  background-color:transparent;
}

.feature-2-description h3 {
  width: 240px;
  margin-top: 45px;
}

.feature-2-description p:first-of-type {
  width: 240px;
  margin-top: 2px;
  
 }


.feature-2-description p:nth-of-type(2) {
  width: 305px;
  margin-top: 10px ;
  
}


.feature-3-4-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  /*временно для сетки*/
  min-height: 256px;
  background-color:transparent;
}

.feature-3 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /*временно для сетки*/
  min-height: 256px;
}

.feature-3 h3 {
  width: 130px;
  margin-top: 45px;
}

.feature-3 p:first-of-type {
  width: 240px;
  margin-top: 0px;
}

.feature-3 p:nth-of-type(2){
  width: 240px;
  margin-top: 10px;
}


.feature-4 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /*временно для сетки*/
  min-height: 256px;
}

.feature-4 h3 {
  width: 130px;
  margin-top: 45px;
}

.feature-4 p:first-of-type {
  width: 240px;
  margin-top: 0px;
}

.feature-4 p:nth-of-type(2){
  width: 270px;
  margin-top: 10px;
}

.feature-5 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /*временно для сетки*/
  min-height: 256px;
}

.feature-5 h3 {
  width: 130px;
  margin-top: 45px;
}

.feature-5 p:first-of-type {
  width: 240px;
  margin-top: 0px;
}

.feature-5 p:nth-of-type(2){
  width: 270px;
  margin-top: 10px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  box-sizing:border-box;
  padding-top: 5px;
  /*временно для сетки*/
  min-height: 290px;
}

.hotel-search p:first-of-type {
  width: 400px;
  margin-top: 43px;
  margin-bottom: 10px
}

.hotel-search p:nth-of-type(2) {
  width:576px;
  margin-bottom: 45px
}

.hotel-search a {
  width: 568px;
  min-height: 86px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:transparent;

}

.map {
  display: flex;
  margin-bottom: 0px;
  /*временно для сетки*/
  min-height: 593px
}

.main-footer {
  margin: 0 auto;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /*временно для сетки*/
  min-height: 120px;
  background-color:rgba(255, 255, 255, 0.9);
}

.main-footer b {
  width: 240px;
}

.footer-social {
  width: 150px;
/*временно для сетки*/
  min-height: 48px;
}

.footer-copyright {
  width: 241px;
/*временно для сетки*/
  min-height: 45px;
}