body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px -12px #000000;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.header-container {
  position: relative;
  margin: 0px auto;
/*  background-color: #fff;*/
}

.section-container {
  padding: 0 6%;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.main-header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 138px;
  height: 70px;
  margin-left: -69px;
  padding: 0px;
  z-index: 1;
}

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.site-navigation li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 20%;
  margin-top: 14px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
}

.link-left {
  text-align: left;
}

.link-right,
.link-right-current {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  padding-left: 30px;
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
    padding-right: 32px;
}

.container {
  margin: 0px auto;
  padding: 0px 0px; 
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  height: 508px;
  margin-bottom: 0px;
  background:
  url(../img/mask.png) no-repeat 50% 100%, 
  url(../img/background-photo.jpg) no-repeat 50% 21%;
  background-color: #aecce0;  
}

.intro img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 76px;
  margin-bottom: 80px;
}

.description {
  min-height: 216px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 60px;
}


.description p {
  margin: 0px;
}


.description p:first-child {
  padding:0px 288px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  
}

.description p:nth-child(2) {
  margin-top: 27px;
  line-height: 26px;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 1100px;
}

.feature-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  box-sizing: border-box;
  min-height: 256px;
  overflow: hidden;

}

.feature-1-description {
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  min-height: 256px;
  background-color:#81b3d2;
}

.feature-1-description h3,
.feature-1-description p {
  margin: 0px;
}


.feature-1-description h3 {
  margin-top: 46px;
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  color: #ffffff;
}

.feature-1-description span {
  display: block;
  margin-top: 25px;
  line-height: 21px;
  color: #ffffff;
}

.feature-1-description p {
  margin-top: 21px;
  padding: 0px 50px;
  line-height: 21px;
  color: #ffffff;
}

.feature-1-image {
  width: 800px;
  height: 256px;
}

.feature-1-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  min-height:330px;
}

.detail-1,
.detail-2,
.detail-3 {
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  min-height: 330px;
  margin: 0px;
}

.detail-1 h3,
.detail-1 p,
.detail-2 h3,
.detail-2 p,
.detail-3 h3,
.detail-3 p {
  margin: 0px;
}

.feature-1-details h3{
  position: relative;
  margin-top: 160px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.detail-1 h3::before {
  content: "";
  position: absolute;
  bottom:50px;
  left:162px;
  background: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.detail-2 h3::before {
  content: "";
  position: absolute;
  bottom:51px;
  left:161px;
  background: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
}

.detail-3 h3::before {
  content: "";
  position: absolute;
  bottom:50px;
  left:168px;
  background: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
}


.detail-1 p {
  margin-top: 23px;
  padding: 0px 50px;
  line-height: 21px;

}

.detail-2 p {
  margin-top: 23px;
  padding: 0px 50px;
  line-height: 21px;
}

.detail-3 p {
  margin-top: 23px;
  padding: 0px 50px;
  line-height: 21px;
}

.feature-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  /*временно для сетки*/
  min-height: 256px;
  overflow: hidden;
}

.feature-2-image {
  width: 800px;
  /*временно для сетки*/
  height: 256px;
}

.feature-2-description {
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  min-height:  256px;
  background-color:#81b3d2;
}

.feature-2-description p,
.feature-2-description h3 {
  margin: 0px;
}

.feature-2-description h3 {
  margin-top: 45px;
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  color: #ffffff;
  text-align: center;
}

.feature-2-description span {
  display: block;
  margin-top: 25px;
  line-height: 21px;
  color: #ffffff;
}

.feature-2-description p {
  margin-top: 21px;
  padding: 0px 40px;
  line-height: 21px;
  color: #ffffff;
}

.feature-3-4-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  /*временно для сетки*/
  min-height: 256px;
  background-color:#eeeeee;
}

.feature-3,
.feature-4,
.feature-5 {
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  min-height: 256px;
}

.feature-3 h3,
.feature-3 p,
.feature-4 h3,
.feature-4 p,
.feature-5 h3,
.feature-5 p {
  margin: 0px;
}

.feature-3 h3 {
  padding: 0px 100px;
  margin-top: 45px;
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  color: #000000;
}

.feature-3 span {
  display: block;
  margin-top: 24px;
  line-height: 21px;
  color: #000000;
}

.feature-3 p {
  padding: 0px 70px;
  margin-top: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-4 h3 {
  padding: 0px 120px;
  margin-top: 45px;
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  color: #000000;
}

.feature-4 span {
  display: block;
  margin-top: 24px;
  line-height: 21px;
  color: #000000;
}

.feature-4 p {
  padding: 0px 60px;
  margin-top: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-5 h3 {
  padding: 0px 120px;
  margin-top: 45px;
  font-size: 21px;
  line-height: 21px;
  font-weight:700;
  color: #000000;
}

.feature-5 span {
  display: block;
  margin-top: 24px;
  line-height: 21px;
  color: #000000;
}

.feature-5 p {
  padding: 0px 50px;
  margin-top: 21px;
  line-height: 21px;
  color: #000000;
}

.hotel-search {
  margin-bottom: 0px;
  box-sizing:border-box;
  padding-top: 48px;
  min-height: 289px;
  text-align: center;
}

.hotel-search .question,
.hotel-search p {
  margin:0px;
}

.hotel-search .question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotel-search p {
margin-top: 23px;
}

.hotel-search a {
  display:inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  margin-top: 48px;
  padding: 30px 140px;
}

.hotel-search a:hover {
background-color: #604e43;
}

.hotel-search a:active {
color: rgba(255, 255, 255, 0.3);
background-color: #503e33;
}

.modal-search {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.search input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color:#f2f2f2;
  border:none;
}

.search .minus,
.search .plus {
  color:#818181;
  background-color:#f2f2f2;
  border:none;
}

.search button[type="submit"] {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.search button[type="submit"]:hover {
background-color:#669ec0;
}

.search button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#5496bd;
}

.map {
  width: 1200px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 0px;
  /*временно для сетки*/
  min-height: 473px;
}

.map iframe {
  width:1200px;
  height:473px;
  border:0;
}

.main-footer {
  margin: 0px auto;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  min-height: 120px;
  background-color:rgba(255, 255, 255, 0.9);
}

.main-footer b {
  margin-left:132px;
  width: 138px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 255px;
/*  margin: 0 auto;*/
  width: 150px;
  min-height: 48px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 150px
  margin: 0px auto;
  padding: 0px;
}

.footer-social a {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  background-color: #5496bd;
}

.social-link svg {
  fill:#ffffff;
}

.social-link svg:active {
  fill:rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: 101px;
}

.footer-copyright span {
  line-height: 26px;
  color: #000000;
  width: 241px;
  display: block
  margin-bottom: 30px;
  margin-left: 3px;
}

.copyright-link svg {
  fill: #231f20;
  margin-top: 5px;
}

.copyright-link svg:hover {
  fill: #81b3d2;
}

.copyright-link svg:active {
  fill: #bdbbbc;
}

/*стили для каталога*/

.link-right-current a{
  color: #766357;
}

.filter {
  background-image:url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 21%;
  min-height: 217px;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}

.filter input[type="checkbox"] {
display: none ;

}

.fieldset-1 label,
.fieldset-2 label {
  position: relative;
  cursor: pointer;
}

.fieldset-1 input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat
}

.fieldset-1 input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


.fieldset-1 label::before,
.fieldset-2 label::before {
  content: "";
  position: absolute;
  top: -1px;
  z-index: 1;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.fieldset-1 label::before {
  left: -38px;
}

.fieldset-2 label::before {
  left: -40px;
}

.fieldset-1 input[type="checkbox"]:checked ~ label::before,
.fieldset-2 input[type="checkbox"]:checked ~ label::before {
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on.svg") no-repeat;
}


.fieldset-1 input[type="checkbox"]:disabled ~ label::before,
.fieldset-2 input[type="checkbox"]:disabled ~ label::before {
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-ofF-disabled.svg") no-repeat;
}




/*ДЛЯ СЕБЯ: ВТОРОЕ ЗАБЛОКИРОВАНННОЕ СОСТОЯНИЕ!? КОГДА ЭЛЕМЕНТ ЗАБЛОКИРОВАЛСЯ ПОСЛЕ ВЫБОРА!*/




.filter .fieldset {
  border: none;
  box-sizing: border-box;
}

.filter .fieldset-1 {
  width: 180px;
  margin-left: 60px;
}

.filter .fieldset-2 {
  width: 180px;
  margin-left: 65px;
}

.filter h3,
.filter p {
  margin: 0px;
}

.filter h3 {
  margin-top:26px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.fieldset-1 h3 {
padding-left:12px;
}

.fieldset-2 h3 {
padding-left:21px;
}

.filter p {
  line-height: 21px;
  color: #ffffff;
  margin-top: 25px;
}

.fieldset-1 p {
padding-left:50px;
}

.fieldset-2 p {
padding-left:62px;
}



.filter-range {
  width: 318px;
  margin-left:auto;
  margin-right: 72px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  padding-left: 2px;
  margin-top:26px;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
  margin-bottom: 5px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 5px;
  height: 5px;
}

.range-toggle-min {
  left: 0px;
}

.range-toggle-max {
  left: 80%;
}

.filter button[type="submit"] {
  display: block;
  box-sizing: border-box;
  margin-left:85px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter button[type="submit"]:hover {
  color: #000000;
  background: #ffffff;
}

.sort {
  display: flex;
  flex-direction: row;
  min-height: 86px;
  align-items: baseline;
  margin-bottom: 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.sort span {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: 000000;
  min-height: 26px;
  margin-left: 72px;
  margin-top:29px;
}

.sort h2 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  margin-left: 48px;
}

.sort ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  width:400px;
}

.sort li {
  width: 80px;
  padding: 0px:;
  
}

.sort a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  border-bottom: 1px dotted #81b3d2;
}

.sort li:first-of-type {
margin-left: 40px;
}

.sort li:nth-child(2) {
  margin-left: 0px;
}

.sort li:nth-child(3) {
  margin-left: 2px;
}

.sort .price-active {
  color:#81b3d2;
  border-bottom: none;
}


.sort a:hover {
  color:#81b3d2;
}

.sort a:active {
  color: #000000;
  border-bottom: none;
}

.sort a:nth-child(3) {
  margin-left: auto;
}

.sort button  {
  background-color: transparent;
  border: none;
}

.sort a:first-of-type {
  margin-left:auto;
}

.sort a:nth-of-type(2)  {
  margin-right:60px;
}

 .ascending svg,
 .descending svg {
   fill:#cacaca;
 }
 
 .ascending svg:hover,
 .descending svg:hover {
   fill: #231f20;
 }
 
 .ascending svg:active,
 .descending svg:active {
   fill: #81b3d2;
}

.catalog-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 450px;
  margin-bottom: 0px;
}

.catalog-item {
  min-height: 151px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image {
  width:135px;
  padding-top: 31px;
  margin-left: 72px;
}

.item-container {
  margin-left: 30px;
  width: 528px;
}

.item-container h3,
.item-container p {
  margin: 0px;
}

.item-container .name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:#000000;
}

.item-container h3 {
  margin-top: 26px;
  margin-left: 1px;
}


.catalog-list .name:hover {
  color:#81b3d2;
}

.catalog-list .name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item b {
  line-height: 21px;
  font-weight: 400;
  margin-right:36px;
}

.catalog-item:nth-child(2) b{
 margin-right:60px;
}

.catalog-item:nth-child(3) b{
 margin-right:17px;
}


.catalog-item p {
 margin-top:6px;
}

.catalog-item-reserve a {
  display:inline-block;
  margin-top: 7px;
  padding: 2px 16px;
  margin-left: 1px;
  margin-right: 2px;
}


.catalog-item-reserve a:first-child {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.catalog-item-reserve a:nth-child(2) {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.catalog-item-reserve a:first-child:hover {
  background-color: #669ec0;
}

.catalog-item-reserve a:nth-child(2):hover {
  background-color: #604e43;
}

.catalog-item-reserve a:first-child:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog-item-reserve a:nth-child(2):active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating-container {
  margin-left: auto;
  width: 200px;
}

.catalog-item span {
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
  display:inline-block;
  margin-top: 42px;
  margin-left: 18px;
  padding: 2px 13px;
  /* не получилось вплотную прижать спан к звездочкам, чтобы замерить отступ в фотошопе, пришлом подбирать на глаз*/
}

.stars-4 {
  list-style: none;
  margin: 0px;
  padding: 0px 40px;

}

.stars li {
/*  text-indent: -9999px;*/
  color:transparent;
  width:20px;
  height:18px;
  background-image: url("../img/star.svg");
  background-repeat:no-repeat;
  display: inline-block;
  margin-top: 29px;
  padding: 0px;
}

.stars-3 {
  list-style: none;
  margin: 0px 24px;
  padding: 0px 40px;
}

.stars-2 {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 47px;
  padding: 0px 40px;
}





































